#app_wrapper
	background-color #f3f5f9
	display flex
	position relative

	.sidebar
		width 200px
		height 100%
		background #4b4276
		position fixed

		ul
			padding 0px
			margin 0px
			li
				padding 15px
				border-bottom 1px solid #bdb8d7
				border-bottom 1px solid rgba(0,0,0,0.05)
				border-top 1px solid rgba(255,255,255,0.05)
				list-style: none;
				font-size 30px
				font-weight bold

				a
					color #bdb8d7
					display block
					text-decoration: none;

	.main_content
		width 100%
		margin-left 200px

		.header
			padding: 20px;
			background: #fff;
			color: #717171;
			border-bottom: 1px solid #e0e4e8;

		.info
			margin: 20px;
			color: #717171;
			line-height: 25px;

			div
				margin-bottom: 20px;
